.uk-section-danger {
  background-color: #ec2147;
}
.uk-flex {
  flex-direction: column;
  align-items: center;
}
.uk-header-divider {
  border-bottom: 2px solid #e5e5e5;
}
hr.divider-large {
  border-bottom: 2.5px solid #5a5a5a;
  width: 80px;
  margin: 10px 0 30px;
  border-radius: 3px;
}
