#education {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Nunito, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#education h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif !important;
}

#education strong {
  font-family: Raleway, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#education div:first-of-type {
  border-radius: 0.15em;
}

#education .educationContent .contentBox div {
  box-shadow: 0 0 0.25em 0.1em rgba(37, 37, 37, 0.5);
  margin: 1em;
  border-radius: 0.15em;
}

#education .rightFloat {
  float: right;
}
#education h1 {
  text-transform: uppercase;
}
#education hr.divider {
  border-bottom: 2.5px solid #5a5a5a;
  width: 60px;
  margin: 10px 0 30px;
  border-radius: 3px;
}
#education h6.grade {
  margin: 0.4em 0;
  display: inline-block;
  background: rgba(0, 0, 0, 0.04);
  padding: 0.3em 0.3em;
  border-radius: 3px;
  color: #444;
}
